<style>
  .orange-text{
    color: orange;
  }
</style>
<center>
<h1 class="orange-text text-center">
  About Page
</h1>

<center><%= link_to 'Home', root_path %></center>

<div>
<img src="https://www.utdallas.edu/lecture/images/monogram.png" style= "width:100px; height:100px;">
</div>


   <div class="block text-center">
  <h1 class="orange-text">Akib Hossain
</h1>
  <h2 class="orange-text">University of Texas at Dallas Software Engineer</h2>
     
     <p>
       This is my alpha-blog page, and is currently under construction.
     </p>
  </div>
  </center>